/*MAINMENU*/
.mainmenu
{
	position: fixed;
	background-color: rgba(0, 0, 0, 0);
	width: 100vw;
	font-family: Verdana;
	color: white;
	padding-bottom: 5px;
	padding-top: 5px;
	z-index: 1000;
}
.mainmenuChange
{
	background-color: rgba(0, 153, 0, 1);
}
.mainmenu a
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	cursor: pointer;
	color: white;
	text-decoration: none;
}
.mainmenu a:hover
{
	color: green;
	background-color: white;
}
#space
{
	margin: 100px;
}
/*SLIDESHOW*/
.slideshowContainer
{
	margin: auto;
	position: relative;
}

.slide
{
	display: none;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  /*position: absolute;*/
  bottom: 5%;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.slideshowText {font-size: 11px}
}
.slide img
{
	width: 100%;
}

.slideshowText
{
	bottom: 20%;
	text-align: center;
	position:absolute;
	width: 100%;
	z-index: 100;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/*#dot1
{
	left: 48%;
}
#dot2
{
	left: 50%;
	right: 50%;
}
#dot3
{
	right: 47%;
}*/

.mainimage
{
	width: calc(100vw - (100vw - 100%));
	max-width: 100vw;
	height: auto;
}
html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Verdana;
}

/*MAINTEXT*/
.mainText
{
	/*position: absolute;*/
	padding-left: 5px;
	padding-right: 5px;
	width: 720px;
	text-align: left;
	box-shadow: 0px 30px 30px grey;
}
.title
{
	font-size: 36px;
	box-shadow: 0px 3px 0px green;
}
.icon
{
	width: 180px;
	text-align: center;
	float: right;
}
.icons
{
	text-align: center;
}


.greenQuotes
{
	font-style: italic;
	color: green;
}

ul
{
	
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul li
{
	width: 150px;
	height:20px;
	background-color: green;
	color:white;
}
div div ul li
{
	display: none;
}
div.servicesContainer div:hover ul li
{
	display: block;
}
.servicesContainer
{
	/*border-style: solid;
	border-width: 5px 5px 5px 5px;*/
}